<a href="https://colab.research.google.com/github/valeria-angelino/ReDI-school---Python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.  PYTHON BASICS

## 1.1 Syntax, Variables, and Data Types.

In [ ]:
# Write the code that prints the line "Hello ReDi!"

print("Hello ReDI")

Hello ReDI

### Variables

Variables are like boxes where you can store things. You can name your box (variable) anything you want.

In [ ]:
# create 3 variables: a string, a float and an integer.
# print the values of these variables on screen

mystrin = "Zigue"
myflo = 3.1416
myint = 8

### OPTIONAL ADVANCED EXERCISE

In [3]:
pi = 3.14
x = 42

# Use the f"" string formatting option in Python to print on screen a mix of
# text and the value of the variables pi and x

print(f"The value of Pi is {pi} and the value of x is {x}.")

The value of Pi is 3.14 and the value of x is 42.

## 1.2 Functions

Imagine you have a little robot. You can teach this robot to do a specific task, like singing a song. Once you've taught the robot this task, you can ask it to sing the song whenever you want. In Python, we can teach our computer to do specific tasks by creating functions

In [5]:
# Create a function called sing_song() that prints on screen the line "Twinkle, twinkle, little star"
# Use the function to print the line on screen

def sing_song():
  print("Twinkle, Twinkle, Little Star")

In [6]:
sing_song()

Twinkle, Twinkle, Little Star

### OPTIONAL ADVANCED EXERCISE

In [ ]:
# Exercise: Math Module

# 1. Import the math module
import math

# 2. Calculate the square root of 16 and print the result.
math.sqrt(16)

# 3. Calculate the value of pi and print it.
math.pi

# 4. Calculate the exponential of 2 (e^2) and print the result.
math.e**2

# 5. Calculate the logarithm (base 10) of 100 and print the result.
math.log(100, 10)

# 6. Calculate the ceiling of 3.2 and print the result.


# 7. Calculate the floor of 3.8 and print the result.

# 8. Calculate the factorial of 5 and print the result.

2.0

## 1.4 Flow control statements

if statement: a block of code is executed when a given conditions is met

In [ ]:
# Create a variable 'x' containing an integer value of your choice.
# Write code that checks whether the value of 'x' is odd or even,
# and prints a message on screen with either 'Odd number' or 'Even number'.

x = 8

if(x % 2) == 0:
  print("8 is Even")
else:
  print("8 is Odd")

8 is Even

I can write if statements where multiple conditions have to be met

In [ ]:
# Create 2 variables 'x' and 'y' containing float values of your choice.
# Write code that checks if the value of both 'x' and 'y' is
# greater or equal 10, and displays a message if it is True.

x = 13.04
y = 7.01

if(x >= 10 and y>=10):
  print("True")
else:
  print("False")

False

or where only one among several conditions has to be met

In [ ]:
# Create 2 variables 'x' and 'y' containing float values of your choice.
# Write code that checks if the value of either 'x' or 'y' is smaller or
# equal 10, and displays a message if it is True.

x = 83.2
y = 1.5

if(x >= 10 or y>= 10):
  print("True")
else:
  print("False")

True

or an if-else statement where I can describe multiple conditions

In [ ]:
# Create a variable 'x' containing an integer of your choice.
# Write an if-else statement that:
# if x is smaller than 42, print the line "Smaller than 42"
# if x is equal to 42, print the line "The number is 42"
# if x is greater than 42, print the line "Greater than 42"


x = 8

if x < 42:
  print("Smaller than 42")
if x == 42:
  print("The number is 42")
if x > 42:
  print("Greater than 42")

Smaller than 42

### OPTIONAL ADVANCED EXERCISE

In [9]:
# Work with match case in Python. Args: number: An integer.
#Returns:
    #A string describing the number's properties.

def analyze_number(number_input):
 match number_input:
    case 0:
      return "The number is Zero"
    case _ if number_input <0:
      return "The number is negative"
    case _:
      return "The number is neither Zero nor Negative"

# Get input from the user
number_input = int(input("Enter a number: "))

# Analyze the number and print the result
analyze_number(number_input)

Enter a number: 4

'The number is neither Zero nor Negative'

Then take the quiz [here](https://realpython.com/quizzes/python-basics-conditional-logic-and-control-flow/https://)

# 2. Data structures

### 2.1 Lists

A list is used to store multiple items in a single variable. It's a collection which is also ordered, indexed, and which permits duplicate values. A list is written with square brackets: [ ]. Each item in the list has an index, or position within that list. In Python, we start counting from 0 rather than 1. As a result, python lists are zero-indexed.

In [10]:
# Create a variable 't' containing a list of your 4 favorite colors
# print the values of the list on screen
# Then, print the value of the first element on screen


t = ["Dark Green", "Baby Pink", "Lavender", "White"]

print(t)

print(t[0])

['Dark Green', 'Baby Pink', 'Lavender', 'White']
Dark Green

### 2.2 Slicing

If we want to access multiple items we can use slicing: my_list[a:b] gives us every item from index a (inclusive) to index b (exclusive).

In [11]:
# Using the same list 't' created above, create a smaller list 'k'
# containing the values at the 2nd and 3rd positions.
# Print on screen the values of this new list 'k'

t = ["Dark Green", "Baby Pink", "Lavender", "White"]
k = t[1:3]
print(k)

['Baby Pink', 'Lavender']

We can get everything up to a specified index by leaving the left-hand-side of the colon blank.

In [12]:
# Using the same list 't' created above, create a smaller list 'k'
# containing the values up to the 3rd positions.
# Print on screen the values of this new list 'k'

t = ["Dark Green", "Baby Pink", "Lavender", "White"]
k = t[:3]
print(k)

['Dark Green', 'Baby Pink', 'Lavender']

### OPTIONAL ADVANCED EXERCISE

In [18]:
import math

# Exercise: List Comprehension

# 1. Create a list of squares of numbers from 1 to 10 using list comprehension.
# Then print the list in screen

sqrs = [num**2 for num in range(1, 11)]
print(sqrs)

# Exercise: List Comprehension with Conditions

# 1. Create a list of numbers from 1 to 20 that are divisible by 3 using list
# comprehension. Then print the values on screen

div_by_3 = [num for num in range(1, 21) if num % 3 == 0]
print(div_by_3)

# 2. Create a list of the squares of even numbers from 1 to 10 using list comprehension. Then print the values on screen

squared_even = [num**2 for num in range(1, 10) if num % 2 == 0]
print(squared_even)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[3, 6, 9, 12, 15, 18]
[4, 16, 36, 64]

### 2.4 Dictionaries


In Python, a dictionary contains a look-up key and a corresponding value. It's a collection which is ordered and mutable. It does not permit duplicate items. A dictionary is written with curly brackets: { }. The keys are strings, but the values can take any data type.

The syntax is:

{key1: value1, key2: value2, key3: value3}

In [19]:
# create a variable 'd' containing a dictionary of pairs of names and surnames,
# where the name is the key and the surname is the value
# Then print the dictionary on screen

d = {
    "Edgar":"Sjoberg",
    "Valeria":"Angelino"
}

print(d)

{'Edgar': 'Sjoberg', 'Valeria': 'Angelino'}

#### Retrieving Values
We can retrieve items from a dictionary just like we would from a list, using square brackets but passing in the key instead of the index.

In [21]:
# Using the variable 'd' created above, retrieve the surname associated to a
# name and print it on screen

surname = d['Edgar']
print(surname)

Sjoberg

#### Adding Items
Adding items to a dictionary is very similar to retrieving them. Again, we use square bracket notation.

In [23]:
# Add the pair {"Davide": "Frazzetto"} pair to the dictionary 'd'
# Then as above, retrieve the surname associated to the name "Davide"

d["Kira"] = "Goldita"

surname = d["Kira"]
print(surname)

Goldita

### OPTIONAL ADVANCED EXERCISE

In [30]:
# Working with json as dictionaries
import json

# Sample JSON string
json_string = """
{
  "name": "John Doe",
  "age": 30,
  "city": "New York",
  "occupation": "Software Engineer",
  "skills": ["Python", "Java", "JavaScript"],
  "address": {
    "street": "123 Main Street",
    "zipcode": "10001"
  }
}
"""

# Load JSON string into a Python dictionary

json_info = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "occupation": "Software Engineer",
   "skills": ["Python", "Java", "JavaScript"],
    "address": {
    "street": "123 Main Street",
    "zipcode": "10001"
  }
}

# Print the dictionary
print(json_info)
# Access city value
print(json_info["city"])
# Access zipcode value
print(json_info["address"]["zipcode"])

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer', 'skills': ['Python', 'Java', 'JavaScript'], 'address': {'street': '123 Main Street', 'zipcode': '10001'}}
New York
10001

# 3 Loops

for loops: used to iterate through the items in a Python collection, such as lists or strings

In [ ]:
# Given the list 't' containing a list of 10 integers.
# Write the code that sums all the numbers in 't' by iterating through them,
# and prints the total on screen
# the result should be 45

t = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

total = 0
for number in t:
  total += number

print(total)

45

In [ ]:
# Create a variable 't' containing a list of 10 integers.
# Write the code that sums all the EVEN numbers in 't' by iterating through them,
# and prints the total on screen
# the result should be 20

t = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

total = 0
for number in t:
  if number % 2:
    total += number

print(total)

25

the for loop can be used to perform a series of operations a specific number of times;
to do so a collection of numbers of the appropriate size can be generated using the  range() function

range() takes in 3 arguments (int):
1.   start
2.   end
3.   step

if only 1 parameters is passed as input range(n) returns a numeric series starting with 0 and extending up to but not including n

ex1: range(11,20,3) returns a series of integers from 11 to 20 in steps of 3

ex2: range(10) returns a series of integers from 0 to 9

In [33]:
# Given the string s, print every letter of the string 's' one at a time by
# iterating with a for loop over the range of the length of s
# You can find the length of a string (or a list) with the function len(s)


s = "Kiriswiris" #name of my cat

for letter in range(len(s)):
  print(s[letter])


  # Simple version
for letter in s:
  print(letter)

K
i
r
i
s
w
i
r
i
s
K
i
r
i
s
w
i
r
i
s

### OPTIONAL ADVANCED EXERCISE

In [34]:
# Iterating through dictionaries
# create a variable 'd' containing a dictionary of pairs of names and surnames,
# where the name is the key and the surname is the value

d = {"John": "Doe", "Jane": "Smith", "Peter": "Jones"}


# Iterate through the dictionary and print all key-value pairs

for name, surname in d.items():
  print(f"Name: {name}, Surname.: {surname}")

Name: John, Surname.: Doe
Name: Jane, Surname.: Smith
Name: Peter, Surname.: Jones